.statistics-section {
    padding: 15px;
    text-align: center;
    overflow-y: auto;
    max-height: 100vh;
}

.main-title {
    margin: 10px 0 10px 0;
    font-size: 24px;
    color: #ccc;
}

.sub-title {
    margin: 10px 0 5px 0;
    font-size: 20px;
    color: #ccc;
}

.chart {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto 20px auto;
    background: transparent;
}

@media (max-width: 480px) {
    .main-title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 18px;
    }

    .chart {
        max-width: 400px;
    }
}
